{% extends 'dashboard/base.html' %}
{% load static %}

{% block style %}
<style>
  .content-wrapper{
    background-color: #fff;
  }
</style>
{% endblock %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      {% for i in settings %}
      <div class="col-sm-5">
        <div class="form-group">
          <div class="form-control pb-3 h-75"  disabled>{{i.uz_text|safe}}</div>
          <!-- <textarea class="form-control" rows="3" disabled>{{i.uz_text|safe}}</textarea> -->
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <div class="form-control pb-3 h-75"  disabled>{{i.ru_text|safe}}</div>
          <!-- <textarea class="form-control" rows="3" placeholder="{{i.ru_text|safe}}" disabled>{{i.ru_text|safe}}</textarea> -->
        </div>
      </div>
      <div class="col-sm-1 mb-3 d-flex align-center">
        <a style="color: #17a2b8;" href="{% url 'settings_edit' i.id %}" class="m-auto col-sm-12"><i class="far fa-edit"></i></a>
      </div>
      
      
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}