{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Категория Добавлять</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Главный</a></li>
          <li class="breadcrumb-item active">Категория Добавлять</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="">

              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="col-4">
                  <div class="form-group">
                    <label >Название uz</label><br>
                      {{form.name_uz}}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label >Название ru</label><br>
                      {{form.name_ru}}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group ">
                    <label >Описание</label><br>
                      {{form.desc}}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label >Фото</label><br>
                      {{form.img}}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label >Статус</label><br>
                      {{form.active}}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label >Категория цепи</label><br>
                      {{form.parent}}
                  </div>
                </div>

                <div class="ml-3">
                  <button type="submit" class="btn col-sm-1 btn-info">Сохранить</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock %}