{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Пользователи</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Главный</a></li>
          <li class="breadcrumb-item active">Пользователи</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Пользователи</h3>

                <div class="card-tools">
                    <a href="{% url 'create_user' %}"><div class="btn btn-block btn-success">Добавлять</div></a>
                </div>
              </div>

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>№</th>
                      <th>Имя</th>
                      <th>Юзернейм</th>
                      <th>Позиция</th>
                      <th>Доступ</th>
                      <th>Статус</th>
                      <th>Дата</th>
                      <th>Редактировать</th>
                      <th>Удалить</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in user_types %}
                    
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ i.user.first_name }}</td>
                      <td>{{ i.user.username }}</td>
                      <td>{{ i.status_str }}</td>
                      <td>{{i.accesses}}</td>
                      {% if i.active %}
                      <td><span class="badge badge-success">активный</span></td>
                      {% else %}
                      <td><span class="badge badge-danger">неактивный</span></td>
                      {% endif %}
                      <td>{{ i.created_at|date:"d-m-Y H:i" }}</td>
                      <td><a style="color: #17a2b8;" href="{% url 'manager_edit' i.id %}"><div ><i class="far fa-edit"></i></div></a></td>
                      <td><a style="color: #dc3545;" href="{% url 'manager_delete' i.id %}"><div><i class="fas fa-trash-alt"></i></div></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
</section>
{% endblock %}