{% extends 'dashboard/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'dashboard/plugins/fontawesome-free/css/all.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'dashboard/css/adminlte.min.css' %}">
{% endblock %}


{% block content %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Пользователи</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Главный</a></li>
              <li class="breadcrumb-item active">Пользователи</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->
            

            <div class="card p-2">
              <!-- <div class="card-body table-responsive p-0"> -->
                <!-- <div class="form-group">
                  <select class="form-control select2 select2-danger col-md-1" data-dropdown-css-class="select2-danger" style="width: 100%;">
                    <option id="op1" selected="selected">Fillial</option>
                    <option id="op2" value="1">Alaska</option>
                    <option id="op3" value="2">California</option>
                    <option id="op4" value="3">Delaware</option>
                    <option id="op5" value="4">Tennessee</option>
                    <option id="op6" value="5">Texas</option>
                    <option id="op7" value="6">Washington</option>
                  </select> -->
                <!-- </div> -->
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>№</th>
                    <th>Филиал</th>
                    <th>Заказы</th>
                    <th>Телефон</th>
                    <th>Клиент</th>
                    <th>Адрес доставки</th>
                    <th>Комментарий</th>
                    <th>Тип доставки</th>
                    <th>Тип оплата</th>
                    <th>Время доставки</th>
                    <th>Общая цена</th>
                    <th>Принят</th>
                    <th>Отказ</th>
                    <th>Время заказа</th>

                  </tr>
                  </thead>
                  <tbody>
                    {% for i in orders %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.fillial}}</td>
                    <!-- <td style="width: 20%;">{{i.cart|safe}}</td> -->
                    <td><a href="inner/{{i.id}}/">Список заказов</a></td>
                    <td><a href="tel:{{i.phone}}">{{i.phone}}</a></td>
                    <td>{{i.costumer}}</td>
                    
                    <td><a target="_blank" href="{{i.address}}">Локация</a></td>
                    <td>{{i.comment}}</td>
                    {% if i.order_type %}
                    <td>Забрать</td>
                    {% else %}
                    <td>Доставлять</td>
                    {% endif %}
                    <td>{{i.cost_type}}</td>
                    <td>{{i.deliver_time}}</td>
                    <td>{{i.all_price}} сум</td>
                    <td><a href="{% url 'update_order' pk=i.id status='confirm' %}" class="btn btn-xs btn-success">Принят</a></td>
                    <td><a href="{% url 'update_order' pk=i.id status='deny' %}" class="btn btn-xs btn-danger">Отказ</a></td>
                    <td>{{i.created_at|date:"d-m-Y H:i"}}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   

  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark"> -->
    <!-- Control sidebar content goes here -->
  <!-- </aside> -->
  <!-- /.control-sidebar -->
<!-- ./wrapper -->
{% endblock %}
{% block javascript %}
<script src="{% static 'dashboard/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="/static/dashboard/js/adminlte.min.js"></script>
<script src="/static/dashboard/js/demo.js"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      // "buttons": ["copy", "csv", "excel", "pdf", "print"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
  setInterval(() =>{
    location.reload()
  }, 60000);

  $('').click(function (e) {
    const attr = $(e.target).attr('data-filter')
    $('.js-filter-card').stop(true).slideUp();
    $('[data-filter]').removeClass('active')
    if (attr === 'all') {
        $('.js-filter-card').stop(true).slideDown()
        $('.js-filter-card').addClass('active')
        $(`[data-filter="${attr}"]`).addClass('active')
    }
    else {
        $(`[data-filter="${attr}"]`).stop(true).slideDown()
        $(`[data-filter="${attr}"]`).addClass('active')
    }
});
</script>
{% endblock %}